/*Basic Css */
/*Basic Css ends*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
:root{
    --primary-color:#0f2f44;
    --secondary-color: #ffc712;
    --primary-font:'Ubuntu', sans-serif;
    --secondary-font:'Open Sans', sans-serif;
    --third-font:'Abril Fatface', cursive;
}
.btn{
    padding: 16px 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);

}
.align-center{
    align-items: center;
}
body{
    font-family: var(--primary-font);
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.heading h3{
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 300;
    color: var(--primary-color);
   
   

}
.heading h2{
    font-family: var(--third-font);
    font-size: 32px;
    font-weight: 400;
    color: var(--primary-color);
}
/*Basic Css ends*/
/*header starts*/
header{
    background-color: var(--primary-color);
    color: white;
    padding: 15px 0;
}
header .Welcome,
header .Opening{
    width: 50%;
}
header .Opening{
    text-align: right;
}

/*header ends*/
/*Navbar starts*/
nav .logo{
    width: 30%;
    align-items: center;
}
nav .menu{
    width: 70%;
    text-align: right;
 
}
nav .menu ul{
    text-align: right;
}
nav .menu ul li{
    display: inline-block;
  
}
nav .menu ul li a{
    display: block;
    padding: 41px 18px;
    font-weight: 500;
    color: #222222;
    font-size: 16px;
    transition: 0.3s;
    
}
nav .menu ul li .active,
nav .menu ul li:hover a{
    background-color: #fff9e6;
    color: var(--secondary-color);
}
nav .menu ul li span{
    width: 30px;
    height: 30%;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    display: block;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    color: #999999;
  
}
/*Navbar ends*/
/*Banner starts*/


#banner{
    background-position: center;
    background-image: url(../img/banner.png);
    height: 598px;
   
     
}
#banner .banner-cnt{
    width: 40%;
    
}
#banner .row{
    
    height: 598px;
}
#banner .banner-cnt h2{
    font-family: var(--primary-font);
    font-size: 50px;
    font-weight: 300;
    color: var(--primary-color);
  
}
#banner .banner-cnt h1{
    font-family: var(--third-font);
    font-size: 80px;
    font-weight: 400;
    color: var(--primary-color); 
    margin: -22px 0;
}
#banner .banner-cnt h3{
    font-family: var(--primary-font);
    font-size: 32px;
    font-weight: 400;
    color: #8484bf;
    letter-spacing: 13px;
    margin-top: 20px;

}
#banner .banner-cnt p{
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    margin: 30px 0;
}
#banner .banner-cnt .explore{
    padding: 16px 20px;
    background-color: #8383bf;
    border-radius: 10px;
    color: white;
    margin-right: 22px;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
}
#banner .banner-cnt .play{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}
/*Banner ends*/
/*about starts*/
#about{
    padding: 100px 0;
}
#about .about-img,
#about .about-text{
    width: 50%;
}
#about .about-img img{
    width: 100%;
   
}

#about .about-text p{
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--primary-color);
    margin: 30px 0;
}
#about .about-text ul li{
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    margin: 30px 0;
    
}
#about .about-text .read{
    background-color:white;
    padding: 16px 20px;
    border-radius: 10px;
    margin-left: 20px;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/*about ends*/
/*skill starts*/

#skills .skill-img{
    width: 60%;
}
#skill .skill-img img{
    width:100%;
}
#skills .skill-text{
    text-align: right;
    width: 40%;
}
#skills .skill-text p{
    margin: 27px 0;
}
/*sklill ends*/

/*services starts*/
#services{
    padding: 80px 0;
    background-color: #f5f5f5;
}
#services .heading{
    padding: 55px 0;
    text-align: center;
}
#services .service-item{
    width: 33.33%;
    padding: 0 15px;
    
  
}
.service-item .service-cnt{
    background-color: #e9e9e9;
    position: relative;
    border-radius: 10px;
}
.service-item .icon{
    width: 30%;
    text-align: center ;
    
}
.service-item .text{
    width: 70%;
    background-color: #eeeeee;
    padding: 30px 20px;
    border-radius: 10px;
}
.service-item .text h3{
    color: #222;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 22px;
}
.service-item .text p{
    color: #444444;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 14px;
}
.service-item .overlay{
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 28px 0;
    color: #ffffff;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.40s;
  
}
.service-cnt .overlay h3{
    margin-top: 20px;
   
}
.service-item .overlay span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: inline-block;
    line-height: 40px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

}
.service-item:hover .overlay{
    visibility: visible;
    opacity: 1;
    border-radius: 10px;
}


/*services ends*/


/*portfolio starts*/
#portfolio{
    padding: 100px 0;
}
#portfolio .heading{
    text-align: center;
    margin-bottom: 55px;
}
#portfolio .portfolio-card{
    width: 33.33%;
    padding: 0 15PX;
}
#portfolio .portfolio-card img{
    width: 100%;
    display: block;
}
.portfolio-card .portfolio-cnt{
    position: relative;
}

.portfolio-card .portfolio-cnt .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 75px;
    text-align: center;
    line-height: 80px;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    opacity: 1;
    transform: scaleY(0);
    transition: 0.5s;
    transform-origin: bottom;

}
.portfolio-card .portfolio-cnt:hover .overlay{
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
#portfolio .btn{
    width: fit-content;
    display: block;
    margin: 60px auto ;
    font-weight: 500;
}
    /*portfolio ends*/


    /*testimonial starts*/
    #testimonial{
        background-color: #f5f5f5;
    
    }
    #testimonial .heading{
        text-align: center;
        padding-top: 55px;
    }
    #testimonial .testimonial-item{
        width: 50%;
        padding: 60px 15px;
        border-radius: 10px;
        
       
    }
    .testimonial-item .testimonial-cnt{
        background-color: #e9e9e9;

    }
    .testimonial-item .img{
        width: 30%;
    

    }
    .testimonial-item .img img{
        width: 100%;
        height: 100%;
    }
    .testimonial-item .text{
        width: 70%;
        padding: 30px 20px;
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        color: var(--primary-color);
        
    }
    .testimonial-item .text h3{
        margin-top: 30px;
        margin-bottom: 12px;
        font-family: var(--primary-font);
        font-size: 20px;
        font-weight: 500;
    }
    .testimonial-item .text h4{
        font-family: var(--secondary-color);
        font-size: 16px;
        font-weight: 300;

    }
    /*testimonial ends*/


    /*blog starts*/
    #blog{
        padding: 40px;
    }
    #blog .blog-item{
        width: 33.33%;
        padding: 0 20px;
    }
    #blog .heading{
        text-align: center;
        padding: 60px 0;
    }
    .blog-item .blog-cnt{
        padding: 20px 20px;
        background-color: #f5f5f5;
        border-radius: 10px;
    }

    .blog-item .img img{
        width: 100%;
    }
    .blog-item .text p{
        font-family: var(--primary-font);
        font-size: 14px;
        font-weight: 400;
        color: #777777;
        margin-top: 30px;
    }
    .blog-item .text h3{
        font-family: var(--primary-font);
        font-size: 20px;
        font-weight: 500;
        color: #222222;
        margin: 30px 0;
    }
    .blog-item .text a{
        font-family: var(--primary-font);
        font-weight: 500;
        color: #777777;
        margin: 30px 0;
        text-align: left;
    }
    .blog-item .text span{
        color: #777777;
    }
   .blog-cnt:hover{
    background-color: var(--primary-color);
   }
   .blog-cnt:hover *{
    color: white !important;
   }

   
   #blog .btn{
    width: fit-content;
    margin: 60px auto;
    display: block;
    color: var(--primary-color);
   }
   .btn a{
    color: var(--primary-color);
   }
/*blog ends*/


/*footer starts*/


    footer{
        margin-top: 50px;
        padding: 40px 0;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-color: #f5f5f5;
    }
   footer .intro{
    width: 20%;
    
   }
   .intro p{
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    margin: 30px 0;
    
   }
   footer .intro ul li{
    display: inline-block;
   }
   footer .intro ul li a{
    color: var(--primary-color);
     width: 40px;
     height: 40px;
     border-radius: 50%;
     border: 1px solid var(--primary-color);
     display: inline-block;
     text-align: center;
     line-height: 40px;
    
     transition: 0.5s;
   }
   footer .intro ul li:hover a{
    background-color: var(--primary-color);
    color: white;
   }

   footer .contact{
    width: 25%;
    margin-left: 30px;
   }
   footer .links{
    width: 15%;
   }
   footer .stream{
    width: 35%;
   }
   footer .contact h4{
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 45px;
   }
   footer .contact p{
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 400;
    color: #777777;
   }
   footer .links h4{
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 45px;
   }
   footer .links ul li{
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 400;
    color: #444444;
   }
   footer .links ul li:hover{
    color: #1173b5;!important
    padding: 15px;
   }
   footer .stream h4{
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 45px;
   }
   /*footer ends*/

   /*footnote starts*/

   .footnote{
    padding: 20px;
    text-align: center;
    font-family: var(--secondary-font);
    font-size:14px;
    font-weight: 400;
    color: #777777;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }
   .footnote span{
    color: #ffc712;
   }
   /*footnote ends*/










    

